.container_grid {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    padding: 0;
  }
  
  .grid_option {
    cursor: pointer;
    position: relative;
  }

  .grid_img>img {
    object-fit: cover;
    width: 339.401px;
    height: 480.559px;
    min-height: 100%;
    padding: 0;
    border-radius: 10px;
  }
  
  .grid_title>h1 {
    color: #FFF;
    font-family: Qanelas;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .grid_rating {
    border-radius: 5px;
    background: #89CB36;
    width: 62.275px;
    height: 33.214px;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 12px;
    top: 23px;
  }
  
  .grid_rating>h1 {
    color: #FFF;
    font-family: Qanelas;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .grid_hanr>p {
    color: #F2F60F;
    font-family: Qanelas;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }