@import url('https://fonts.cdnfonts.com/css/qanelas');



* {
  margin: 0;
  padding: 0;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;

}


main {
  background: #1E2538;
  background-image: url(./img/fon.png);
  background-repeat: no-repeat;
}

header {
  width: 1432px;
  margin: auto;
  height: auto;

}

.container_nav {
  width: 1432px;
  height: 53px;
  margin: auto;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.header_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo>h1 {
  color: #3657CB;
  font-family: Qanelas;
  font-size: 25px;
}

.header_logo>img {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

.header_logo>h2 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 25px;
}

.nav_a {
  display: flex;
  width: 760px;
  margin: auto;
  gap: 40px;

}

.nav_a_txt>a {
  color: #FFF;
  font-family: Qanelas;
  font-size: 17px;
}

.nav_poisk {
  width: 55px;
  height: 52px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav_poisk>a>img {
  transition: 1s;
}

.nav_poisk>a>img:hover {
  transform: scale(1.5);
}

.nav_but {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}


.nav_poisk:hover {
  box-shadow: 0px 0px 15px 0px #FFF;
}

.nav_button>button {
  width: 138px;
  height: 53px;
  background: #3657CB;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #FFF;
  font-family: Qanelas;
  font-size: 16px;
  font-style: normal;

}

.nav_button>button:hover {
  box-shadow: 0px 0px 15px 0px #4871FFCC;
}

.container_kino {
  width: 1430px;
  height: 83px;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.container_kino_nav_grid {
  display: flex;
  justify-content: space-between;
  gap: 63px;
}

.container_kino_nav_title {
  color: #FFF;
  font-family: Qanelas;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;

}

.container_kino_nav_line {
  width: 51.5px;
  height: 2px;
  background: #FFF;
  margin: 0 70px 0 70px;
}

.container_kino_nav_grid_txt>a {
  color: rgba(255, 255, 255, 0.35);
  font-family: Qanelas;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container_kino_nav_grid_txt>a:hover {
  color: #FFF;
  font-family: Qanelas;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container_kino_nav_grid_txt>a:active {
  color: #FFF;
  font-family: Qanelas;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container_grid {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  padding: 0;
}

.grid_option {
  cursor: pointer;
  position: relative;
}

.grid_img>img {
  object-fit: cover;
  width: 339.401px;
  height: 480.559px;
  min-height: 100%;
  padding: 0;
  border-radius: 10px;
}

.grid_title>h1 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.grid_rating {
  border-radius: 5px;
  background: #89CB36;
  width: 62.275px;
  height: 33.214px;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 12px;
  top: 23px;
}

.grid_rating>h1 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.grid_hanr>p {
  color: #F2F60F;
  font-family: Qanelas;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container_grid_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 54px 0 54px 0;

}

.container_grid_btn>button {
  width: 200px;
  height: 71px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #FFF;
  cursor: pointer;
  background: transparent;
}

.container_grid_btn>button>a {
  color: #FFF;
  font-family: Qanelas;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 166.5%;
}

.container_trailer {
  width: 1431px;
  margin: auto;

}

.container_trailer_nav {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 60px;
}

.container_trailer_nav>h1 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 65px;
  font-style: normal;
  line-height: normal;
}

.container_trailer_nav>h2 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.container_trailer_nav>h2>img {
  margin-left: 27px;
  cursor: pointer;
  width: 26px;
}

.container_trailer_video {
  width: 1430px;
  height: 862px;
  position: relative;
}

.container_trailer_vide_play {
  position: absolute;
  right: 50%;
  top: 50%;
  cursor: pointer;
}

.container_trailer_video_opisanie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
}

.container_trailer_video_opisanie>h1 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.container_trailer_video_likes_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8.9px;
}

.container_trailer_video_likes {
  border-radius: 10px;
  background: #1B2133;
  width: 58.871px;
  height: 58.871px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_trailer_video_likes>img {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.container_trailer_video_scroll_content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: first baseline;
  gap: 8px;
}

.container_trailer_video_scroll_content>img {
  width: 449px;
  height: 252px;
  border-radius: 10px;
  transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  /* IE 9 */
  -webkit-transform: rotateX(180deg);
  /* Safari and Chrome */
}

.container_trailer_video_scroll {
  padding-bottom: 25px;
  overflow-y: hidden;
  display: flex;
  gap: 12px;
  overflow-x: scroll;
  direction: ltr;
  border-radius: 10px;
  scrollbar-color: #3657CB #1B2133;
  scrollbar-width: thin;
  transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  /* IE 9 */
  -webkit-transform: rotateX(180deg);
  /* Safari and Chrome */
}

.container_trailer_video_scroll_content>h1 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  /* IE 9 */
  -webkit-transform: rotateX(180deg);
  /* Safari and Chrome */
}

.container_trailer_video_scroll::-webkit-horizontalscrollbar {
  width: 20px;
}

/*  */
.container_popular_films {
  padding-top: 78px
}

.container_popular_films_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 45px;
}

.container_popular_films_nav_date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.container_popular_films_nav_title>h1 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 65px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.container_popular_films_nav_line {
  width: 51.5px;
  height: 2px;
  background: #FFF;
}

.container_popular_films_nav_date>h1 {
  color: rgba(255, 255, 255, 0.35);
  font-family: Qanelas;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container_popular_films_grid {
  display: flex;
  position: relative;
  gap: 22px;
  padding-bottom: 55px;
}

.container_popular_films_grid_paginashion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container_popular_films_grid_paginashion>img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.container_popular_films_grid_paginashion>h1 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*  */
.container_pipular_person_date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 65px;
}

.container_pipular_person_date_time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.container_pipular_person {
  padding-top: 65px;
}

.container_pipular_person_date>h1 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 65px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.container_pipular_person_date_time>h1 {
  color: #6D717D;
  font-family: Qanelas;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container_pipular_person_date_time>h1:hover {
  color: #FFF;
  font-family: Qanelas;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container_pipular_person_grid {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 23px;
}

.container_pipular_person_grid_card {
  display: flex;
  height: auto;
  flex: 1;
  gap: 22px;
  position: relative;
}

.container_pipular_person_grid_card>img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 55.56%);
}

.container_pipular_person_grid_card_reiting {
  position: absolute;
  top: 15px;
  left: 15px;
}

.container_pipular_person_grid_card_reiting>h1 {
  color: #F2F60F;
  font-family: Qanelas;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 133.333% */
}

.container_pipular_person_grid_card_opanie {
  position: absolute;
  gap: 10px;
  top: 83%;
  left: 15px;
}

.container_pipular_person_grid_card_opanie>h1 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container_pipular_person_grid_card_opanie>h2 {
  color: rgba(255, 255, 255, 0.35);
  font-family: Qanelas;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.container_pipular_person_grid_card_opanie>p {
  color: #F2F60F;
  font-family: Qanelas;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 133.333% */
}

.container_pipular_person_grid_card_spisok_reiting {
  width: 496.934px;
  height: auto;
  border-radius: 10px;
  background: #1B2133;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.container_pipular_person_grid_card_spisok {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_pipular_person_grid_card_spisok_name {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.container_pipular_person_grid_card_spisok_name>h1 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 3px;
}

.container_pipular_person_grid_card_spisok_name>h2 {
  color: #3B486B;
  font-family: Qanelas;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  padding-left: 3px;
  line-height: normal;
}

.container_pipular_person_grid_card_spisok_name>p {
  color: #F2F60F;
  font-family: Qanelas;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container_pipular_person_grid_card_spisok_reitink>h1 {
  color: #F2F60F;
  font-family: Qanelas;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ontainer_pipular_person_grid_card_spisok_line {
  width: 434.277px;
  height: 2px;
  background: #1E2538;
  margin: auto;
}

/*  */
.container_news {
  padding-top: 65px;
  padding-bottom: 75px;
}

.container_news_last {
  display: flex;
  gap: 16px;
}

.container_news_active {
  position: relative;
}

.container_news_active>img {
  width: 1085px;
  height: 869.888px;
  border-radius: 10px;
  position: relative;
}

.container_news_active_head {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 51px;
  left: 32px;
}

.container_news_active_head>h1 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 191.2%;

  /* 28.68px */
}

.container_news_active_reiting {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  gap: 12px;

}

.container_news_active_comments {
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.container_news_active_comments>h2 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 191.2%;
}

.container_news_active_comments>img {
  width: 22px;
  height: 22px;
}

.container_news_active_reiting>img {
  width: 22px;
  height: 22px;
}

.container_news_active_reiting>h2 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 191.2%;
  /* 28.68px */
}

.container_news_active_body_title {
  position: absolute;
  top: 75%;
  left: 32px;
}

.container_news_active_body_title>h1 {
  color: #FFF;
  font-family: Qanelas;
  line-height: 180%;
  font-size: 45px;
}

.container_news_active_body_title>p {
  color: #FFF;
  font-family: Qanelas;
  font-size: 20px;
  line-height: 180%;
  width: 890px;
  /* 0px */
}

.container_news_rezerve {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container_news_rezerve_content {
  position: relative;
  width: 336.732px;
  height: 205.4px;
  display: flex;
  background-image: url(./img/last_news_rez_1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.container_news_rezerve_content>button {
  width: 180px;
  height: 53px;
  position: absolute;

}

.container_news_rezerve_content>h1 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 191.2%;
  position: absolute;
  top: 11px;
  left: 18px;
}

.container_news_rezerve_content>h2 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 18px;
  position: absolute;
  bottom: 25px;
  left: 18px;
  right: 10%;
}

#blue {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background  : #1e2538; */
  background: url(./img/last_news.png) repeat #1e2538;
  background-size: cover;
  background-repeat: no-repeat;
}

#news_2 {
  background: url(./img//last_news_rez_2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#news_3 {
  background: url(./img//last_news_rez_3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container_news_rezerve_content>button {
  border-radius: 10px;
  border: 2px solid #FFF;
  width: 180px;
  height: 53px;
  background: transparent;
  color: #FFF;
  font-family: Qanelas;
  font-size: 18px;
  cursor: pointer;
}

/*  */

footer {
  width: 100%;
  background: #151A26;
}

.container_footer {
  width: 1428px;
  margin: auto;
}

.expected_news_items {
  display: flex;
  padding: 49px 0 70px 0;
  justify-content: space-between;
  align-items: center;
}

.expected_news_items_title>h1 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 65px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.expected_news_item_nav {
  display: flex;
  gap: 23px;
}

.expected_news_item_nav>h1 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.expected_news_item_nav {
  display: flex;
  align-items: center;
}

.expected_news_content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.expected_news_item_nav>img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.expected_grid_option {
  cursor: pointer;
  position: relative;
}

.expected_grid_img>img {
  object-fit: cover;
  width: 339.401px;
  height: 480.559px;
  min-height: 100%;
  padding: 0;
  border-radius: 10px;
}

.expected_grid_title>h1 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.expected_grid_hanr>p {
  color: #F2F60F;
  font-family: Qanelas;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 191.2%;
  /* 28.68px */
}

/*  */
.box_office_receipts {
  padding-top: 105px;
}

.box_office_receipts_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box_office_receipts_nav_title>h1 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 65px;
}

.box_office_receipts_nav_date {
  color: #FFF;
  font-family: Qanelas;
  font-size: 10px;
  display: flex;
  align-items: center;
  padding-top: 2%;
  gap: 150px;
}

.box_office_receipts_nav_line {
  width: 51.5px;
  height: 2px;
  background: #fff;
}

.box_office_receipts_nav_countries {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.box_office_receipts_nav_countries>h1 {
  color: #6D717D;
  font-family: Qanelas;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.box_office_receipts_nav_countries>h1:hover {
  color: #FFF;
  font-family: Qanelas;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.box_office_receipts_grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 62px;
}

.box_office_receipts_grid_card {
  display: flex;
  width: 256px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.box_office_receipts_grid_card>img {
  width: 95.704px;
  height: 141.203px;
}

.box_office_receipts_grid_card_content>h1 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 18px;
  margin-bottom: 11px;
}

.box_office_receipts_grid_card_content>h2 {
  color: #F2F60F;
  font-family: Qanelas;
  font-size: 15px;
  margin-bottom: 4px;
}

.box_office_receipts_grid_card_content>p {
  color: rgba(255, 255, 255, 0.41);
  font-family: Qanelas;
  font-size: 14px;
}

/*  */
.footer_sms_email_container {
  border-radius: 10px;
  background: rgba(29, 58, 160, 0.90);
  background-image: url(./img/email_fon.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 74px 0 106px 0;
  margin-top: 95px;
}

.footer_sms_email_title_name {
  display: flex;
  align-items: center;
  gap: 13px;
}

.footer_sms_email_title_name>h1 {
  color: #FFF;
  font-family: Qanelas;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.footer_sms_email_title_name>img {
  width: 24px;
  height: 24px;
}

.footer_sms_email_title {
  margin-top: 53px;
}

.footer_sms_email_title>h1 {
  color: #FFF;
  text-align: center;
  font-family: Qanelas;
  font-size: 50px;
}

.footer_sms_email_opisanie {
  width: 798px;
  color: #FFF;
  text-align: center;
  font-family: Qanelas;
  font-size: 22px;
  margin-top: 26px;
  text-align: center;
}

.footer_sms_email_input {
  margin-top: 34px;
  gap: 8px;
  display: flex;
}

.footer_sms_email_input>input {
  width: 398px;
  height: 71px;
  border-radius: 10px;
  background: #FFF;
  border: none;
  color: rgba(21, 26, 38, 0.60);
  font-family: Qanelas;
  font-size: 17px;
  padding-left: 27px;
}

.footer_sms_email_input>button {
  width: 182px;
  height: 71px;
  border-radius: 10px;
  background: #F2F60F;
  border: none;
  cursor: pointer;
  color: #151A26;
  font-family: Qanelas;
  font-size: 18px;
}

.footer_sms_email_chekbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 22px;
}

.footer_sms_email_chekbox>h1 {
  color: #FFF;
  text-align: center;
  font-family: Qanelas;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.2%;
  /* 23.834px */
}

.footer_sms_email_chekbox>label {
  border-radius: 2px;
  width: 17px;
  height: 17px;
}

.footer_ashifa {
  margin-top: 61px;
}

.footer_soc_seti_container {
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.footer_soc_seti_container>a>img {
  width: 24px;
  height: 24px;
}

.footer_ashifa_nav {
  margin-top: 45px;
}

.footer_ashifa_prava {
  margin-top: 41px;
}

.footer_ashifa_prava>h1 {
  color: rgba(227, 230, 240, 0.72);
  text-align: center;
  font-family: Qanelas;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 119%;
  /* 17.85px */
}

.footer_ashifa_politika {
  padding: 26px 0 50px 0;
  display: flex;
  justify-content: center;

}

.footer_ashifa_politika>a {
  color: rgba(227, 230, 240, 0.72);
  text-align: center;
  font-family: Qanelas;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 119%;
  /* 17.85px */
  text-decoration-line: underline;
}

#news_item_2{
  display: none;
}